<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Autenticación COOACEDED</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  </head>
  <body>
    <nav class="navbar is-primary">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/" style="font-weight:bold;">
           COOACEDED
          </a>
          <span class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end">
              @loggedIn
              
              <div class="navbar-item has-dropdown is-hoverable">

                  <a class="navbar-link">
                    Boletas({{auth.user.roles }})
                  </a>
                  <div class="navbar-dropdown">
                  
                  <a class="navbar-item"  href="http://api.cooaceded.coop:3333/boletas/add">
                    Validar
                  </a>                  
                  <a class="navbar-item"  href="http://api.cooaceded.coop:3333/boletas/">
                    Entregar
                  </a>  
                  <hr class="navbar-divider">                                      
                
                  @if(auth.user.roles == 'admin')
                    <a class="navbar-item"   href="http://api.cooaceded.coop:3333/excepcion/create">
                        Excepciones  
                    </a>                                                                      
                  @endif

                  <hr class="navbar-divider">
                  <a class="navbar-item"  href="http://api.cooaceded.coop:3333/boletas/entregadas">
                    Entregadas
                  </a>
              </div>
           
             </div>
              <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                      {{ auth.user.username }}
                  </a>
                  <div class="navbar-dropdown">
                      <a class="navbar-item">
                          <a class="navbar-item" href="/logout">Logout</a>
                        </a>              
                        @if(auth.user.roles == 'admin')
                        <a class="navbar-item"   href="http://api.cooaceded.coop:3333/permisos">
                            Permisos  
                        </a>                                                                      
                      @endif                    
                        <a class="navbar-item">
                          Acerca
                        </a>
                    </div>
                   
              </div>
              @else
                     <a class="navbar-item" href="/login">Login</a>
                     <a class="navbar-item" href="/register">Register</a>
              @endloggedIn
          </div>
        </div>
      </div>
    </nav>
    <script type="text/javascript">
      (function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);
        burger.addEventListener('click', function(){
          burger.classList.toggle('is-active');
          nav.classList.toggle('is-active');
        });
      })();
    </script>
        <div class="section">
            <div class="container">
                @!section('content')
            </div>
    
        </div>
  </body>
</html>